@page
@model job4everyone.Web.Pages.Advertisement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.JobPosition.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Employer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Employer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Advertisement.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
